
body {
    /*font-family: 'Arvo', serif;*/
    background: #B3C3EA;
    overflow-x: hidden;
    height: 1200px;
}

#header {
  background: #14264F;
}

.right-text {
  float: right;
}

.left-text {
  display: inline;
  clear: none;
}

.text {
  color: gray;
  font-size: 0.8em;
}

.clear {
  margin: 10px;
}

.error {
  color: red;
  font-style: italic;
}

  h1 {
    color: white;
    text-align: center;
    font-size: 5em;
    padding-bottom: 20px;
  }


#window-cnt {
  padding: 20px 0px 20px 0px;
  width: 750px;
  margin: auto;
}

.container-fluid {
  /*margin: 10px;*/
}

.dropdown {
  z-index: 999;
}

form {
  padding: 10px;
}

.form-group {
}

.button-group {
  /*margin: auto;*/
  /*display: block;*/
  padding-top: 10px;
  text-align: center;
}

.back-btn {
  padding-top: 20px;
  padding-left: 20px;
}


.inline-box {
  text-align: left;
  margin-bottom: 10px;
}

.inline-content {
  display: inline;
  /*float: left;*/
  /*clear: none;*/
  margin-top: 10px;
  /*margin-bottom: 10px;*/
  width: auto;
}

#inner-box {
  margin: 10px;
}