table, th, td {
    border: 1px solid gray;
    padding-left: 0.5em;
}

table {
	margin: 20px;
	width: auto;
	margin: 0 auto;
}

.selected {
	background-color: gray;
}

#window-cnt {
	width: 650px;
}

#station-manage-btn {

}
.row {
	padding-bottom: 10px;
	/*vertical-align: center;*/
}