table, th, td {
    border: 1px solid gray;
    padding-left: 0.5em;
}

table {
	margin: 20px;
	width: 390px;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.selected {
	background-color: gray;
}

#window-cnt {
	width: 650px;
}

#station-manage-btn {

}